.burgundy {
    background-color: #8b1d41 !important;
}

.ribbon {
    background-color: #8b1d41;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    width: 100%;
    max-width: 1440px;

    & a {
       padding: 12px 0;
       margin-right: 30px;
       color: #ffffff;
       text-decoration: none;
       font-size: 14px;
       font-weight: 500;

       &:hover {
        text-decoration: underline;
       }
    }
}

img {
    width: 142px;
    max-width: 142px;
    border: none;
    display: block;
}

.hero {
    height: 480px;
    width: 100%;
    max-width: 1440px;
    align-items: flex-start !important;
    background: url('https://image.s12.sfmc-content.com/lib/fe36117371640479771576/m/1/d3444bb7-88c4-489d-856f-5888feca18a3.jpeg');
    background-position: center right 200px;
    background-repeat: no-repeat;
    background-size: auto 560px;
    background-color: #383b3e;
    color: #ffffff;

    & h1 {
        font-size: 38px;
        color: #ffffff;
        font-weight: 500;
    }

    & span {
        font-size: 48px;
        color: #ffffff;
        font-weight: 600;
        padding-bottom: 10px;
    }
}

header {
    height:120px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.pad {
    padding: 0 70px;
}

.burg {
    background-color: #383b3e !important;
}

@media only screen and (max-width: 1024px) {
    .pad {
        padding: 0 20px;
    }

    .hero {
        justify-content: flex-start !important;
        padding-top: 30px;
        height: 680px;
        width: 100%;
        max-width: 1440px;
        align-items: flex-start !important;
        background: url('https://image.s12.sfmc-content.com/lib/fe36117371640479771576/m/1/19acaa87-76b7-41bd-b474-2cc195861f29.jpg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 420px auto;
        background-color: #383b3e;

        
    & h1 {
        font-size: 32px;
        color: #ffffff;
        font-weight: 500;
    }

    }
}

@media only screen and (max-width: 768px) {
    .hero {
        height: 720px;
    }
}

@media only screen and (max-width: 550px) {
    .hero {
        height: 800px;
    }
}

@media only screen and (max-width: 370px) {
    .hero {
        height: 860px;
    }

    .ribbon {

    & a {
       margin-right: 16px;
    }
}
}

@media only screen and (max-width: 320px) {
    .hero {
        height: 840px;
    }
}