img {
    width: 142px;
    max-width: 142px;
    border: none;
    display: block;
}

.hero {
    height: 480px;
    width: 100%;
    max-width: 1440px;
    align-items: flex-start !important;
    background: url('https://image.s12.sfmc-content.com/lib/fe36117371640479771576/m/1/60aaeb1b-051e-4c1c-b28e-eb3bfb9f858c.jpeg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto 560px;
    background-color: #c41f3e;

    & h1, span {
        font-size: 38px;
        color: #ffffff;
        font-weight: 500;
    }
}

header {
    height:120px;
    display: flex;
    align-items: center;
}

.pad {
    padding: 0 70px;
}

.burg {
    background-color: #c41f3e !important;
}

@media only screen and (max-width: 1024px) {
    .pad {
        padding: 0 20px;
    }

    .hero {
        justify-content: flex-start !important;
        padding-top: 30px;
        height: 700px;
        width: 100%;
        max-width: 1440px;
        align-items: flex-start !important;
        background: url('https://image.s12.sfmc-content.com/lib/fe36117371640479771576/m/1/60aaeb1b-051e-4c1c-b28e-eb3bfb9f858c.jpeg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 500px auto;
        background-color: #c41f3e;

        
    & h1 {
        font-size: 32px;
        color: #ffffff;
        font-weight: 500;
    }

    }
}

@media only screen and (max-width: 425px) {
    .hero {
        height: 820px;

    }
}

@media only screen and (max-width: 320px) {
    .hero {
        height: 890px;

    }
}